Source: topcom
Section: unknown
Priority: optional
Maintainer: Doug Torrance <profzoom@cayke>
Build-Depends: debhelper (>= 9), dh-autoreconf
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/topcom.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/topcom.git

Package: topcom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
