Source: topcom
Section: math
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Doug Torrance <dtorrance@piedmont.edu>
Build-Depends: debhelper (>= 9), dh-autoreconf, libcdd-dev, libgmp-dev
Standards-Version: 3.9.8
Homepage: http://www.rambau.wm.uni-bayreuth.de/TOPCOM/
Vcs-Browser: https://anonscm.debian.org/git/debian-science/packages/topcom.git
Vcs-Git: https://anonscm.debian.org/git/debian-science/packages/topcom.git

Package: topcom
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: triangulations of point configurations and oriented matroids
 <insert long description, indented with spaces>
